copilot.data.migration.agent.xml
copilot.data.migration.ask.xml
copilot.data.migration.ask2agent.xml
copilot.data.migration.edit.xml
grpc-web-demo.iml
modules.xml
vcs.xml
workspace.xml
go
ts
copilot.data.migration.agent.xml
copilot.data.migration.ask.xml
copilot.data.migration.ask2agent.xml
copilot.data.migration.edit.xml
grpc-web-demo.iml
modules.xml
protoeditor.xml
vcs.xml
workspace.xml
@alloc
@babel
@bufbuild
@connectrpc
@esbuild
@jridgewell
@nodelib
@remix-run
@rolldown
@rollup
@tanstack
@types
@vitejs
any-promise
anymatch
arg
autoprefixer
baseline-browser-mapping
binary-extensions
braces
browserslist
camelcase-css
caniuse-lite
chokidar
commander
convert-source-map
cssesc
csstype
date-fns
debug
didyoumean
dlv
electron-to-chromium
esbuild
escalade
fast-glob
fastq
fill-range
fraction.js
function-bind
gensync
glob-parent
hasown
is-binary-path
is-core-module
is-extglob
is-glob
is-number
jiti
js-tokens
jsesc
json5
lilconfig
lines-and-columns
loose-envify
lru-cache
lucide-react
merge2
micromatch
ms
mz
nanoid
node-releases
normalize-path
object-assign
object-hash
path-parse
picocolors
picomatch
pify
pirates
postcss
postcss-import
postcss-js
postcss-load-config
postcss-nested
postcss-selector-parser
postcss-value-parser
queue-microtask
react
react-dom
react-refresh
react-router
react-router-dom
read-cache
readdirp
resolve
reusify
rollup
run-parallel
scheduler
semver
source-map-js
sucrase
supports-preserve-symlinks-flag
tailwindcss
thenify
thenify-all
tinyglobby
to-regex-range
ts-interface-checker
typescript
update-browserslist-db
util-deprecate
vite
yallist
purecerts-ui/node_modules/@alloc:
quick-lru

purecerts-ui/node_modules/@babel:
code-frame
compat-data
core
generator
helper-compilation-targets
helper-globals
helper-module-imports
helper-module-transforms
helper-plugin-utils
helper-string-parser
helper-validator-identifier
helper-validator-option
helpers
parser
plugin-transform-react-jsx-self
plugin-transform-react-jsx-source
template
traverse
types

purecerts-ui/node_modules/@bufbuild:
protobuf

purecerts-ui/node_modules/@connectrpc:
connect
connect-web

purecerts-ui/node_modules/@esbuild:
darwin-arm64

purecerts-ui/node_modules/@jridgewell:
gen-mapping
remapping
resolve-uri
sourcemap-codec
trace-mapping

purecerts-ui/node_modules/@nodelib:
fs.scandir
fs.stat
fs.walk

purecerts-ui/node_modules/@remix-run:
router

purecerts-ui/node_modules/@rolldown:
pluginutils

purecerts-ui/node_modules/@rollup:
rollup-darwin-arm64

purecerts-ui/node_modules/@tanstack:
query-core
react-query

purecerts-ui/node_modules/@types:
babel__core
babel__generator
babel__template
babel__traverse
estree
prop-types
react
react-dom


purecerts-ui/node_modules/
